useDynLib(Ringo, ringoSlidingQuantile=sliding_quantile, ringoRegionOverlap=overlap_xy, ringoMovingMeanSd=moving_mean_sd)

import("methods")
importFrom("graphics", "plot", "image", "hist", "polygon", "smoothScatter")
importFrom("stats", "update", "p.adjust")
importFrom("BiocGenerics", "get")
importFrom("genefilter", "shorth", "half.range.mode")
importMethodsFrom("stats4", "plot")

export("autocor", "chipAlongChrom1","corPlot", "image", "image.RGList",
       "computeRunningMedians", "sliding.quantile",
       "findChersOnSmoothed", "cherByThreshold","newCher","relateChers",
       "preprocess","nimblegenScale","readNimblegen", "asExprSet",
       "as.data.frame.cherList","ftr2xys","compute.gc",
       "posToProbeAnno","validProbeAnno", "regionOverlap",
       "features2Probes","sliding.meansd", "computeSlidingT",
       "getFeats", "upperBoundNull", "extractProbeAnno",
       "exportCherList", "plotBM", "twoGaussiansNull",
       "chipAlongChrom", "quantilesOverPositions", "sigGOTable")

S3method("plot", "autocor.result")
S3method("image", "RGList")
S3method("as.data.frame", "cherList")

exportClasses("probeAnno", "cher", "qop")

exportMethods("get", "ls","initialize", "plot", "show",
              "arrayName", "chromosomeNames", "genome", "probes",
              "arrayName<-", "genome<-", "update",
              "cellType", "cellType<-", "nonzero", "cbind2")
