useDynLib(Ringo, ringoSlidingQuantile=sliding_quantile, ringoRegionOverlap=overlap_xy, ringoMovingMeanSd=moving_mean_sd)

import("methods")
#import("Matrix")

importFrom("graphics", "plot", "image", "hist", "polygon", "smoothScatter")
importFrom("stats", "update", "p.adjust")
importFrom("genefilter", "shorth", "half.range.mode")

## instead of import Matrix
#importClassesFrom("Matrix", "dgCMatrix")
#importFrom("Matrix", "cBind", ".M.classEnv")

export("autocor", "chipAlongChrom1","corPlot",
       "computeRunningMedians", "sliding.quantile",
       "findChersOnSmoothed", "cherByThreshold","newCher","relateChers",
       "preprocess","nimblegenScale","readNimblegen", "asExprSet",
       "as.data.frame.cherList","ftr2xys","compute.gc",
       "posToProbeAnno","validProbeAnno", "regionOverlap",
       "features2Probes","sliding.meansd", "computeSlidingT",
       "getFeats", "upperBoundNull", "extractProbeAnno",
       "exportCherList", "plotBM", "twoGaussiansNull",
       "chipAlongChrom")

S3method("plot", "autocor.result")
S3method("image", "RGList")
S3method("as.data.frame", "cherList")

exportClasses("probeAnno", "cher")

exportMethods("get", "ls","initialize", "plot", "show",
              "arrayName", "chromosomeNames", "genome",
              "arrayName<-", "genome<-", "update",
              "cellType", "cellType<-", "nonzero")
