useDynLib("Ringo", ringoSlidingQuantile=sliding_quantile, ringoPeakOverlap=overlap_xy, ringoMovingMeanSd=moving_mean_sd)

import("graphics") 

export("autocor", "chipAlongChrom","corPlot", "whichCsr",
       "computeRunningMedians", "sliding.quantile",
       "findPeaksOnSmoothed", "peakByThreshold","newPeak","relatePeaks",
       "preprocess","nimblegenScale","readNimblegen",
       "as.data.frame.peakList","ftr2xys","compute.gc",
       "posToProbeAnno","validProbeAnno", "peakOverlap",
       "features2Probes","sliding.meansd", "computeSlidingT")

S3method("plot", "peak")
S3method("plot", "autocor.result")
S3method("image", "RGList")
S3method("as.data.frame", "peakList")
